<div class="container">
        <div class="wrapper">
            <div *ngFor="let square of board" [ngStyle]="{  'height': squareSize + 'px',
                                                            'width': squareSize + 'px', 
                                                            'backgroundColor' : square.color , 
                                                            'top' : square.verticalCoord + 'px', 
                                                            'left' : square.horizontalCoord + 'px',
                                                            'position': 'absolute'}" ></div>
        </div>
</div>