.container {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 1400px;
    height: 800px;
    position: absolute;
    border: 2px solid var(--bgColor);
    overflow: hidden;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}